<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="avatar">
    <ion-avatar>
      <img src="assets/avatar1.avif">
    </ion-avatar>
  </div>
  <ion-label> Bienvenido: {{data.valorEnviar.usuario}}</ion-label>
</ion-content>
<ion-button class="btnLogin" expand="block" (click)="setOpen(isAlertOpen)">Cerrar Sesión</ion-button>
<ion-alert
  [isOpen]="isAlertOpen"
  header="Cerrar Sesión"
  message="¿Estas seguro que desas Salir?"
  [buttons]="alertButtons"
  (didDismiss)="setResult($event)"
></ion-alert>