<ion-content class="ion-text-center" [fullscreen]="true">
  <h1>Mi Taller App</h1>
  <img src="assets/mitaller.png">
  <ion-card>
    <ion-card-header>Iniciar Sesion</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input label="Ingrese usuario" labelPlacement="floating" type="text" [(ngModel)]="valorEnviar.usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Ingrese contraseña" labelPlacement="floating" type="password" [(ngModel)]="valorEnviar.password"></ion-input>
        </ion-item>
      </ion-list>
      <br>
      <ion-button expand="block" (click)="goHome()">Ingresar</ion-button>
      <br>
      <a (click)="goRees()">Reestablecer contraseña || </a> <a (click)="goRegistro()">Registrarse</a>
    </ion-card-content>
  </ion-card>
</ion-content>
