<ion-content class="ion-text-center" [fullscreen]="true">

  <!--Menu-->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item (click)="irHome()">Home</ion-item>
        <ion-item (click)="irUbicacion()">Ubicacion</ion-item>
      </ion-list>
    </ion-content>
    <ion-button (click)="logout()">Salir</ion-button>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>  
  <!---->

  
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="avatar">
    <ion-avatar >
      <img src="./assets/avatar2.jfif"/>
    </ion-avatar>
  </div>
  <div class="Info">
    <div class="info" *ngFor="let info of info" >
      <div class="informacion">
        <p>Usuario: {{info.user}}</p>
        <p>Email: {{info.email}}</p>
      </div>
    </div>
  </div>
  <br>
  <h2>Autos registrados</h2>
  <div class="autos" *ngFor="let car of cars">
    <ion-list>
      <ion-item (click)="irDetalleAuto()">Marca: {{car.modelo}} | Modelo: {{car.modelo}}</ion-item>
    </ion-list>
  </div>
  <br>
  <br>
  <br>
  <ion-button expand="round" (click)="irAuto()">Registrar Auto</ion-button>
</ion-content>


